.d-flex.flex-column.flex-shrink-0.text-white.bg-dark.border-right.border-secondary{ style: "width: 200px;" }
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none{ href: "/" }
    %span.fs-4 Navigation
  %ul.nav.nav-pills.flex-column.mb-auto.border-top.border-bottom.my-3.py-3
    - Category.all.each do |category|
      %li.nav-item
        = link_to category.title, category_path(category), id: "category-#{ category.id }", class: 'nav-link text-secondary'
  .dropdown.mt-3
    %a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle{ "aria-expanded": "false", "data-bs-toggle": "dropdown", href: "#" }
      %img.rounded-circle.me-2{ alt: "", height: "32", src: "https://github.com/mdo.png", width: "32" }/
      %strong User
    %ul.dropdown-menu.dropdown-menu-dark.w-100.bg-dark.border.mt-2{ "aria-labelledby": "dropdownUser1" }
      %li
        %a.dropdown-item{ href: "#" } New product
      %li
        %a.dropdown-item{ href: "#" } Settings
      %li
        %a.dropdown-item.border-bottom{ href: "#" } Profile
      %li
        %a.dropdown-item{ href: "#" } Sign out
